@import "tailwindcss";

@theme {
  --color-primary: #3921F5;
  --color-lightPrimary: #6856ef;
  --color-dark: #141F39;
  --color-secondary: #4F4F4F;
  --color-darkBlue: #141F39;
}

body {
  background: #FFFFFF;
}